@import url('https://fonts.googleapis.com/css?family=Ruge+Boogie|Shrikhand|Mogra|Italianno');

* {
    margin: 0;
    padding: 0;
}

#firstGate {
    background: black;
    height: 100%;
    color: white;
}

#submitButton {
	display: none;
}
#secondGate {
  height: 100%;
  background-image: url("/images/secondGate.png");
  background-size: cover;
  background-position: 50% 50%;
}

.key
{
  font-size: 150%;
  font-family: "Italianno";
}

.copperKey
{
  font-size: 150%;
  font-family: "Italianno";
}

.jadeKey
{
  font-size: 150%;
  font-family: "Italianno";
}

.crystalKey
{
  font-size: 150%;
  font-family: "Italianno";
}

.crystalKeyOne {
  color: #66CCFF;
  font-family: "Ruge Boogie";
  background: #993300;
}

.creditsTitle {
  font-family: "Shrikhand";
  color: #1E08A1;
  text-decoration: underline;
}

.credits {
  font-family: "Mogra";
  color: #D1510F;
}

.click {
  background-image: url("/images/click.png");
  position: absolute;
  top: 130px;
  left:200px;
  height: 20px;
  width: 20px;
  z-index: 10000;
}